footer.footer
    .container
        .contacts
            .contacts__item.contacts__address--item
                i.fas.fa-map-marker-alt
                span Украина,&nbsp г.Киев,&nbspпр-т Краснозвездный,&nbsp126г
            .contacts__item.contacts__phones--item
                .contacts__phones.contacts__phones--phone
                    i.fas.fa-phone
                    span 044 585 99 20 
                .contacts__phones.contacts__phones--fax
                    i.fas.fa-fax
                    span 044 522 58 14
                .contacts__phones.contacts__phones--mobile
                    i.fas.fa-mobile-alt
                    span 063 719 27 73
            .contacts__item.contacts__mail--item
                a(href="mailto:asfour@asfour.com.ua")
                    i.far.fa-envelope
                    span  asfour@asfour.com.ua