footer.footer
    .container
        .footer__title
            .contacts
                .contacts__address.contacts__item
                    i.fas.fa-map-marker-alt
                    span Украина,г.Киев, пр-т Краснозвездный, 126г
                .contacts__phones.contacts__item
                    .contacts__phones--phone
                        i.fas.fa-phone
                        span 044 585 99 20 
                    .contacts__phones--fax
                        i.fas.fa-fax
                        span 044 522 58 14
                    .contacts__phones--mobile
                        i.fas.fa-mobile-alt
                        span 063 719 27 73