header.top
    .hero__title#hero-title
        a.logo: img.logo__picture(src="images/asfour-logo.svg")
        nav.nav
            a.nav__link.nav__link--active(href="index.html") Главная
            a.nav__link(href="#product") Продукция
            a.nav__link(href="#certificate") Сертификаты
            a.nav__link(href="#contacts") Контакты

        .contacts
            .contacts__item.contacts__address
                i.fas.fa-map-marker-alt
                span Украина,&nbsp г.Киев,&nbspпр-т Лобановского,&nbsp126г

            .contacts__item.contacts__phones
                .contacts__phone.contacts__phone--phone
                    i.fas.fa-phone
                    span 044 585-99-20
                .contacts__phone.contacts__phone--fax
                    i.fas.fa-fax
                    span 044 522-58-14
                .contacts__phone.contacts__phone--mobile
                    i.fas.fa-mobile-alt
                    span 063 719-27-73

            .contacts__item.contacts__mail--item
                a(href="mailto:asfour@asfour.com.ua")
                    i.far.fa-envelope
                    span  asfour@asfour.com.ua

    .hero
        .hero__video
            img.hero__video--image(src="images/hero/hero-img-1.jpg" width="890" height="403")
            img.hero__video--image(src="images/hero/hero-img-2.jpg" width="890" height="403")
            img.hero__video--image(src="images/hero/hero-img-3.jpg" width="890" height="403")
            .hero__video--caption
                a.hero__video--button(href="https://youtu.be/NFNoRPJAuw8" data-source="https://youtu.be/NFNoRPJAuw8")
                h4.hero__video--title Видео презентация


