.wrapper
    .top
        .hero__title
            .contacts
                .contacts__address Украина,г.Киев, пр-т Краснозвездный, 126г
                .contact__phone  +38 044 5859920 Факс +38 044 5225814 Моб 063 7192773
                a.contact__mail(href="mailto:asfour@asfour.com.ua") asfour@asfour.com.ua
            nav.nav
                a.nav__link.nav__link--active(href="#") Главная
                a.nav__link(href="#") Продукция
                a.nav__link.logo: img.logo__picture(src="images/asfour-logo.svg")
                a.nav__link(href="#") Сертификаты
                a.nav__link(href="#") Контакты
            h1 Asfour Crystal
            p Ukraine
        header.hero

                        
        //- .header__bottom
        //-     .container

