header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel:+380637192773")
                    i.fas.fa-mobile-alt.contact__icon
                    span.contact__text 063 719 27 73
                a.contact(href="mailto:asfour@asfour.com.ua")
                    i.far.fa-envelope.contact__icon.contact__icon--email
                    span.contact__text asfour@asfour.com.ua
                a.facebook-icon(href="facebook.com")
                    i.fab.fa-facebook-square.contact__icon
                    
    .header__bottom
        .container
            nav.nav
                a.nav__link.nav__link--active(href="#") Главная
                a.nav__link(href="#") Продукция
                a.nav__link.logo: img.logo__picture(src="images/asfour-logo.svg")
                a.nav__link(href="#") Сертификаты
                a.nav__link(href="#") Контакты
