section#product.product
    .container
        h2 Продукция
        .product__items

            include ../mixins.pug

            +product-even('Статуэтки', 'figurines.html', 'images/product/figurines.jpg', 'images/product/figurines-thumb-1.jpg', 'images/product/figurines-thumb-2.jpg', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?', 'http://asfour.com.ua/catalogues/Crystal_Figurines.pdf', 'http://asfour.com.ua/catalogues/Diamond Collection Catalog.pdf')

            +product-odd('Хрустальные подвески', 'parts.html', 'images/product/crystal-parts.jpg', 'images/product/crystal-parts.jpg', 'images/product/crystal-parts.jpg', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?')

            +product-even('Хрустальная плитка', 'crys-tail.html', 'images/product/tile.jpg', 'images/product/tile.jpg', 'images/product/tile.jpg', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?')

            +product-odd('3D Сувениры', '#', 'images/product/chandeliers.jpg', 'images/product/chandeliers.jpg', 'images/product/chandeliers.jpg', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?')

            +product-even('Светильники', 'chandeliers.html', 'images/product/chandeliers.jpg', 'images/product/chandeliers.jpg', 'images/product/chandeliers.jpg', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?')

            +product-odd('Стразы', '#', 'images/product/chandeliers.jpg', 'images/product/chandeliers.jpg', 'images/product/chandeliers.jpg', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?')

