section#product.product
    .container
        h2 Продукция
        .product__items
            .product__item.product__item--even
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/figurines.jpg")
                .product__item--info-img
                    img(src="images/product/figurines.jpg")
                    img(src="images/product/figurines.jpg")
                h4.product__item--title Статуэтки

                    

            .product__item.product__item--odd
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/crystal-parts.jpg")
                .product__item--info
                    .product__item--info-img
                        img(src="images/product/crystal-parts.jpg")
                        img(src="images/product/crystal-parts.jpg")
                h4.product__item--title Хрустальные подвески
                
            .product__item.product__item--even
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/tile.jpg")
                .product__item--info
                    .product__item--info-img
                        img(src="images/product/tile.jpg")
                        img(src="images/product/tile.jpg")
                h4.product__item--title Хрустальная плитка
                    
            .product__item.product__item--odd
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--info
                    .product__item--info-img
                        img(src="images/product/chandeliers.jpg")
                        img(src="images/product/chandeliers.jpg")
                h4.product__item--title 3D Сувениры
                    
            .product__item.product__item--even
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--info
                    h4.product__item--info-title Светильники
                    .product__item--info-img
                        img(src="images/product/chandeliers.jpg")
                        img(src="images/product/chandeliers.jpg")
                    
            .product__item.product__item--odd
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--info
                    h4.product__item--info-title Стразы
                    .product__item--info-img
                        img(src="images/product/chandeliers.jpg")
                        img(src="images/product/chandeliers.jpg")
                    