section.product
    .container
        h2 Продукция
        .product__items
            .product__item.product__item--odd
                .product__item--title
                    a.product__item--link(href="#") Статуэтки
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus nobis cum magni quae provident enim possimus. Sapiente, nostrum beatae.
                img.product__item--img(src="../images/product/figurines.jpg")
            .product__item.product__item--even
                .product__item--title
                    a.product__item--link(href="#") Хрустальные подвески
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus nobis cum magni quae provident enim possimus. Sapiente, nostrum beatae.
                img.product__item--img(src="../images/product/crystal-parts.jpg")
            .product__item.product__item--odd
                .product__item--title
                    a.product__item--link(href="#") Хрустальная плитка
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus nobis cum magni quae provident enim possimus. Sapiente, nostrum beatae.
                img.product__item--img(src="../images/product/chandeliers.jpg")
            .product__item.product__item--even 
                .product__item--title
                    a.product__item--link(href="#") 3D Сувениры
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus nobis cum magni quae provident enim possimus. Sapiente, nostrum beatae.
                img.product__item--img(src="../images/product/chandeliers.jpg")
            .product__item.product__item--odd
                .product__item--title
                    a.product__item--link(href="#") Светильники
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus nobis cum magni quae provident enim possimus. Sapiente, nostrum beatae.
                img.product__item--img(src="../images/product/chandeliers.jpg")
            .product__item.product__item--even 
                .product__item--title
                    a.product__item--link(href="#") Стразы
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus nobis cum magni quae provident enim possimus. Sapiente, nostrum beatae.
                img.product__item--img(src="../images/product/chandeliers.jpg")