section#product.product
    .container
        h2 Продукция
        .product__items
            .product__item.product__item--even
                a.product__item--link(href="#")
                    img.product__item--img(src="images/product/figurines.jpg")
                .product__item--title Статуэтки
                    

            .product__item.product__item--odd
                a.product__item--link(href="#")
                    img.product__item--img(src="images/product/crystal-parts.jpg")
                .product__item--title Хрустальные подвески
                
            .product__item.product__item--even
                a.product__item--link(href="#")
                    img.product__item--img(src="images/product/tile.jpg")
                .product__item--title Хрустальная плитка
                    
            .product__item.product__item--odd
                a.product__item--link(href="#")
                    img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--title 3D Сувениры
                    
            .product__item.product__item--even
                a.product__item--link(href="#")
                    img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--title Светильники
                    
            .product__item.product__item--odd 
                a.product__item--link(href="#")
                    img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--title Стразы
                    