section.product
    .container
        h2 Продукция
        .product__items
            a.product__item(href="#")
                h5.product__item--title Статуэтки
                img.product__item--img(src="../images/product/figurines.jpg")
            a.product__item(href="#")
                h5.product__item--title Хрустальные подвески
                img.product__item--img(src="../images/product/crystal-parts.jpg")
            a.product__item(href="#") 
                h5.product__item--title Хрустальная плитка
                img.product__item--img(src="../images/product/chandeliers.jpg")
            a.product__item(href="#") 
                h5.product__item--title 3D Сувениры
                img.product__item--img(src="../images/product/chandeliers.jpg")
            a.product__item(href="#")
                h5.product__item--title Светильники
                img.product__item--img(src="../images/product/chandeliers.jpg")
            a.product__item(href="#") 
                h5.product__item--title Стразы
                img.product__item--img(src="../images/product/chandeliers.jpg")