section.product
    .container
        .product__items
            a.product__item(href="#")
                .product__item--title Статуэтки
                img.product__item--img(src="../images/product/chandeliers.jpg")
            a.product__item(href="#")
                .product__item--title Хрустальные подвески
                img.product__item--img(src="../images/product/chandeliers.jpg")
            a.product__item(href="#") 
                .product__item--title Хрустальная плитка
                img.product__item--img(src="../images/product/chandeliers.jpg")
            a.product__item(href="#") 
                .product__item--title 3D Сувениры
                img.product__item--img(src="../images/product/chandeliers.jpg")
            a.product__item(href="#")
                .product__item--title Светильники
                img.product__item--img(src="../images/product/chandeliers.jpg")
            a.product__item(href="#") 
                .product__item--title Стразы
                img.product__item--img(src="../images/product/chandeliers.jpg")