section#product.product
    .container
        h2 Продукция
        .product__items
            .product__item.product__item--even
                h4.product__item--title Статуэтки
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/figurines.jpg")
                .product__item--info
                    .product__item--info-img.columns
                        img.column(src="images/product/figurines-thumb-1.jpg")
                        img.column(src="images/product/figurines-thumb-2.jpg")
                    .product__item--info-text.columns
                        p.column Компания Asfour Crystal — крупнейший производитель полносвинцового хрусталя, а так же один из самых крупных производителей светильников в мире, который имеет развитую многоуровневую инфраструктуру во всех ведущих странах мира.
                        a.column(href="http://asfour.com.ua/catalogues/Crystal_Figurines.pdf") Каталог 1 (6,73mb)
                            i.far.fa-file-pdf
                        a.column(href="http://asfour.com.ua/catalogues/Diamond Collection Catalog.pdf") Каталог 2 (13,3mb)
                            i.far.fa-file-pdf

            .product__item.product__item--odd
                h4.product__item--title Хрустальные подвески
                .product__item--main
                    a.product__item--link(href="figurines.html")
                        img.product__item--img(src="images/product/crystal-parts.jpg")
                .product__item--info
                    .product__item--info-img.columns
                        img.column(src="images/product/crystal-parts.jpg")
                        img.column(src="images/product/crystal-parts.jpg")
                    .product__item--info-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?

            .product__item.product__item--even
                h4.product__item--title Хрустальная плитка
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/tile.jpg")
                .product__item--info
                    .product__item--info-img.columns
                        img.column(src="images/product/tile.jpg")
                        img.column(src="images/product/tile.jpg")
                    .product__item--info-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?

            .product__item.product__item--odd
                h4.product__item--title 3D Сувениры
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--info
                    .product__item--info-img.columns
                        img.column(src="images/product/chandeliers.jpg")
                        img.column(src="images/product/chandeliers.jpg")
                    .product__item--info-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?

            .product__item.product__item--even
                h4.product__item--title Светильники
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--info
                    .product__item--info-img.columns
                        img.column(src="images/product/chandeliers.jpg")
                        img.column(src="images/product/chandeliers.jpg")
                    .product__item--info-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?

            .product__item.product__item--odd
                h4.product__item--title Стразы
                .product__item--main
                    a.product__item--link(href="#")
                        img.product__item--img(src="images/product/chandeliers.jpg")
                .product__item--info
                    .product__item--info-img.columns
                        img.column(src="images/product/chandeliers.jpg")
                        img.column(src="images/product/chandeliers.jpg")
                    .product__item--info-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, consequuntur aliquam! Obcaecati aspernatur molestias facere ratione sed saepe aliquam velit?
