doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo|Montserrat:300,400,500,700,800&amp;subset=cyrillic-ext")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
        link(rel="stylesheet" href="css/main.min.css")
        title Business
    body
        .wrapper
            include sections/header.pug
            include sections/product.pug
            include sections/certificate.pug
        include sections/footer.pug
        //- include sections/hero.pug
        //- include sections/about.pug
        //- include sections/form.pug
        
        script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
        script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(type="text/javascript" src="scripts/slick.min.js")
        script(type="text/javascript" src="scripts/main.min.js")

