.top
    display: grid
    grid-template-columns: 30vw 70vw
    grid-template-rows: 100vh
    align-items: flex-start
    justify-items: center
    overflow: hidden

.hero
    overflow: hidden
    width: 70vw
    &__video
        min-width: 100%
        min-height: 100%
        height: 100vh
        display: flex
        position: relative
        transition: transform 1s
        overflow: hidden
        &--caption
            position: absolute
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            min-height: 300px
            width: 100%
            top: 33%
        &:hover
            transform: scale(1.1)
        &--image
            width: 100%
            height: 100vh
            min-height: 250px
            object-fit: cover
            object-position: center center
        &--button
            position: relative
            display: inline-block
            width: 56px
            height: 56px
            border: 3px solid #ffffff
            border-radius: 50%
            text-align: center
            background: rgba(221, 44, 0, 0.51)
            font-size: 0
            line-height: 0
            &::before
                top: 0
                right: 0
                bottom: 0
                left: 0
                background: rgba(221, 44, 0, 0.51)
                border: 5px solid #ffffff
                border-radius: 50%
                transform: scale3d(1, 1, 1)
                opacity: 0
                transition: .22s ease-out
            &:hover
                &::before
                    opacity: 1
                    transform: scale3d(1.2, 1.2, 1)
            &::after
                top: 50%
                left: 54%
                transform: translate(-50%, -50%)
                width: 0
                height: 0
                border-style: solid
                border-width: 9.5px 0 9.5px 16px
                border-color: transparent transparent transparent #fff
            &::before,
            &::after
                content: ''
                position: absolute
        &--title
            color: #ffffff

.hero__title
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    width: 30vw
    text-align: center
    position: relative
    .logo
        display: block
        margin: 0 0 50px
        img
            width: 200px
.fixed
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 15vh
    z-index: 10
    background: #ffffff
    display: flex
    flex-direction: row
    .logo
        display: block
        margin: 0
        img
            width: 100px
    .nav
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: auto
        a.nav__link
            padding: 0 20px

.contacts
    font-size: 1rem
    font-weight: 300
    letter-spacing: .85px
    color: $light-grey-color
    margin-bottom: 40px
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    &__item
        margin-bottom: 15px
        i
            font-size: 16px
            color: $blue-color
        a
            text-decoration: none
            color: $font-color
        span
            margin-left: 5px
    &__phone
        margin-bottom: 10px


.contact
    display: inline-block
    vertical-align: top
    padding: 10px 10px 8px
    color: #424242
    transition: 0.3s
    text-decoration: none
    &:hover
        color: lighten(#424242, 20%)
    &:first-child
        margin-right: 8px
        padding-right: 18px
        border-right: 1px solid #e2e2e2
    &__icon
        margin-right: 7px
        &--email
            font-size: 1.2rem

.nav
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    margin: 0 auto 40px
    a.nav__link
        font-family: $ff-head
        font-weight: 700
        font-size: .85rem
        color: rgb(5,5,5)
        text-decoration: underline
        margin-bottom: 1rem
        text-transform: uppercase
        letter-spacing: 0.85px
        cursor: pointer
        &__link--active
            color: #1565C0
