.top
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    justify-items: center

.hero
    // grid-area: hero
    min-height: 70vh
    background: #cccccc url(../images/hero/hero-img.jpg)
    background-size: cover
    background-position: bottom right
    min-width: 100%
    padding: 180px 344px
    display: flex
    flex-direction: column
    align-items: start
    justify-content: center
    > *
        color: #ffffff
        padding: 5px

.hero__title
    // grid-area: title
    text-align: center
    // &__img
    //     grid-area: hero
    //     min-height: 403px
    //     min-width: 100%
    //     background: #cccccc url(../images/hero/hero-img.jpg)
    //     background-size: cover
    //     background-position: bottom right
    .contacts
        font-size: 13px
        margin-bottom: 40px
        
            
    
.contacts
    display: flex
    justify-content: flex-end
    align-items: center

.contact
    display: inline-block
    vertical-align: top
    padding: 10px 10px 8px
    color: #424242
    transition: 0.3s
    text-decoration: none
    &:hover
        color: lighten(#424242, 20%)
    &:first-child
        margin-right: 8px
        padding-right: 18px
        border-right: 1px solid #e2e2e2
    &__icon
        margin-right: 7px
        &--email
            font-size: 1.2rem

.facebook-icon
    display: inline-block
    margin: 7px 0
    padding: 5px 8px 1px
    color: #1287bf

.nav
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 auto 40px
    &__link
        font-weight: 700
        font-size: 0.7rem
        color: #101010
        text-decoration: none
        padding: 0 35px
        text-transform: uppercase
        letter-spacing: 2.5px
        &--active
            color: #de2b24
    
.logo
    img
        width: 100px