section.product
    background: #ebebeb

.product__items
    // display: flex
    // flex-wrap: wrap
    // justify-content: center
    .product__item
        // width: calc(33.33% - 20px)
        display: flex
        align-items: center
        overflow: hidden
        position: relative
        border: 2px solid #f5f5f5
        margin-bottom: 30px
        &--link
            text-decoration: none
            position: relative
        &--info
            margin: 0 auto
            display: flex
            &-title
                font-size: 1.3rem
                font-weight: 600
                letter-spacing: 4px
                color: $blue-color
                background: #ffffff
                padding: 10px 15px
                transform: rotate(-180deg)
                writing-mode: tb-rl
            &-img
                width: 200px
        &--img
            min-width: 100%
            min-height: 100%
        &--even
            flex-direction: row-reverse
 
            
        


