section.product
    padding: 80px 0
    text-align: center
    text-transform: uppercase
    background: #ebebeb
    h2 
        margin: 0 0 65px

.product__items
    display: flex
    flex-wrap: wrap
    .product__item
        width: calc(33.33% - 20px)
        display: flex
        justify-content: center
        align-items: center
        &--link
            text-decoration: none
            position: relative
        &--title
            font-weight: 600
            letter-spacing: 1px
            color: $blue-color
            position: absolute
            top: 70%
            background: #ffffff
            padding: 10px 15px
        img
            max-width: 100%
            max-height: 300px    
            
        


