section.product
    margin: 100px 0
    text-align: center
    text-transform: uppercase

.product__items
    display: flex
    flex-wrap: wrap
    a.product__item
        width: calc(33.33% - 20px)
        margin: 10px
        text-decoration: none
        img
            max-width: 100%
        h5
            font-weight: 600
            letter-spacing: 1px
            color: #42A5F5
