@media (min-width: 1200px)
    .hero__video--button
        width: 75px
        height: 75px

@media (max-width: 360px)
    .top
        grid-template-columns: 100vw
        .hero__title
            width: 100vw
            .contacts__address
                span
                    padding: 0 5px
