@media (max-width: 360px)
    .top
        grid-template-columns: 100vw
        .hero__title
            width: 100vw
            .contacts__address
                span
                    padding: 0 5px
        .hero
            display: none

    .product__items
        .product__item--odd,
        .product__item--even
            flex-direction: column
            padding: 20px 0
            h4.product__item--title
                margin: 0 auto
                padding: 0 15px 15px
                transform: none
                writing-mode: horizontal-tb
                position: inherit
                right: 0
            .product__item--info
                width: 100%
                text-align: center
                .product__item--info-img
                    img
                        width: 50%
                        height: auto
                        padding: 10px 5px
                &-text
                    padding: 0 30px
                    text-align: left

@media (max-width: 720px)
    .top
        grid-template-columns: 100vw
        .hero__title
            width: 100vw
            .contacts__address
                span
                    padding: 0 5px
        .hero
            display: none

    .product
        .product__items
            .product__item
                padding: 20px 0
                width: 100%
                h4.product__item--title
                    margin: 0 auto
                    padding: 0 15px 15px
                    transform: none
                    writing-mode: horizontal-tb
                    position: inherit
                    right: 0
                    .product__item--info-img
                        img
                            width: 100%
                            height: 100%
                            padding: 10px 5px
                    &-text
                        padding: 0 30px
                        text-align: left

    .certificate__items
        .certificate__item
            width: 100%

