$ff-main: 'Roboto'
$ff-main-bold: 'helvetica-neue-bold'
$ff-main-light: 'helvetica-neue-light'
$ff-steps: 'georgia-bold'
$font-color: #424242

$red-color: #de2b24
$blue-color: #42A5F5

$hero-height: 75vh
